@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    background-color: #f6f6f2;
}


 /**************** for dark mode *******************/
 .dark-body {
    margin: 0;
    background-color: #0e0e04;
    color: #a9a9a9;
}



 /**************** Header: Logo and Nav *******************/
 header{
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    height: 50px;
}
 .main-nav{
    transition-duration:0.3s;
    padding: 10px;
    display: flex;
    column-gap: 25px;
}
.main-nav a{
    font-family: monospace;
    text-decoration: none;
    padding: 4px 10px;
    font-size: 20px;
    transition-duration:0.3s;
}
.main-nav a:hover{
    color: #7f0000;
}
header svg :hover{
    cursor: pointer;
}
#moon-icon{
    display: none;
}

.a-home{
    color:#141204 ;
    transition-duration: 0.3s;
}
.a-shop{
    color: #E8985E;
    border: solid #E8985E 2px;
}
.a-signup{
    background-color: #262A10;
    color: #ffffff;
}



 /**************** Main Content section *******************/

 /**************** vid section*/   
#intro{
    display: flex;
    width: 1100px;
    margin: 50px auto;
    justify-content: space-between;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        translate: -100px;
    }
    75%{
        opacity: 0.95;
        translate: 10px;
    }    
    100%{
        opacity: 1;
        translate:0px;
    }
}
.vid-text{
    animation-duration: 2s;
    animation-name: fadeInLeft;
    width: 50%;
}
.vid-text h1{
    font-family: Poppins;
    font-size: 32px;
    color: #141204;
}
.vid-text h1 span{
    color:#E8985E ;
}
.vid-text p{
    font-size: 16px;
    margin-bottom: 40px;
    color:black;
    font-family: Poppins;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        translate: 100px;
    }
    75%{
        opacity: 0.95;
        translate: -10px;
    }    
    100%{
        opacity: 1;
        translate:0px;
    }
}
.vid{ 
    width: 40%;
    height: 100%;
    border-radius: 20px;
    align-self: center;
    animation-duration: 2s;
    animation-name: fadeInRight;
}
.member-btn{
    width: 250px;
    background-color: #A9714B;    
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin: 10px;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    transition-duration: 0.3s;
}
.member-btn:hover{
    background-color: #262A10;
    cursor: pointer;
}



 /**************** info section *******************/
#container{
    max-width: 1100px;
    display: flex;
    margin: 1rem auto;
    justify-content: space-between;

}
.heading{
    font-family: Poppins;
    font-size: larger;
    font-weight: bolder;
    color: #E8985E;
}
.sub{
    color: #262A10;
    margin: -1rem 0;
    font-family: Poppins
}



 /**************** Card Section *******************/
main{
    justify-content: center;
    width: 1100px;
    margin: auto;
}
.product-nav{
    display: flex;
    justify-content: space-between;
    margin: 5rem auto 20px auto;
    width: 1100px;
    align-items: baseline;
}
.product-nav a, main a{
    text-decoration: none;
}
.product-nav a{
    color: #262A10;
}
.product-nav h2{
    margin: 0;
    color: #262A10;
}

.all-cards{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.card{
    border-radius: 20px;
    background-color:#e8985e52;
    width:250px;
    margin: auto;
}
.review-container{
    opacity: 0%;
    position: absolute;
    margin: 190px 0 0 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    z-index: 1;
    transition-duration: 0.5s;
}
.hover-image {
    filter: brightness(0.4);
}
.hover-review{
    opacity: 100%;
}

.img-2{
    border-radius: 20px 20px 0px 0px;
    transition-duration: 0.5s;
}
.discription{
    padding: 20px;
}
.discription h3{
    font-family: Poppins;
    color: #262A10;
}
.discription a{
    font-family: Poppins;
    color: #262A10;
    transition-duration:0.3s;
}
.discription a:hover{
    color: #ffffff;
    cursor: pointer;
}
.discription p{
    font-family: Poppins;
}


 /****************  Footer  *******************/
footer{
    background-color: #141204;
    color: #f6f6f2;
    padding: 5rem;
    margin-top: 2rem;
}
.footer-container{
    max-width:1100px;
    margin: 0 auto;
}
.footer-main{
    display: flex;
    align-items: center;
}
.foot-img{
    width: 70%;
}
.col-1{
    width: 30%;
    display: flex;
    justify-content: center;
}
.col-2{
    width: 35%;
}
.col-2 a{
    text-decoration: none;
    padding-left: 1rem;
    color:#A9714B;
}
.col-2 p{
    text-decoration: none;
    padding-left: 1rem;
    color:#A9714B;
}
.col-3{
    width: 35%;
    display: flex;
    justify-content: end;
}
.col-3 img{
    padding-right: 3rem;
}
.prompt:hover{
  cursor: pointer;
}

/****************Responsive*********************/

@media  screen and (max-width:1100px){
    body {
        width: fit-content;
    }
    #intro {
        width: 950px;
    }
    #container {
        max-width: 950px;
    }
    .product-nav {
        width: 950px;
    }
    
}

/* 458 */
@media  screen and (max-width:458px){
    #intro {
        flex-direction: column;
    }
    .vid-text {
        width: 100%;
    }
    .vid-text h1 {
        font-size: 77px;
    }
    .vid-text p {
        font-size: 35px;
    }
    .member-btn {
        width: 460px;
        font-size: 45px;
        margin: 10px 10px 10px 240px;
    }
    .vid {
        width: 80%;
        margin-top: 4rem;
    }
    .heading {
        font-size: 26px;
    }
    .product-nav h2 {
        font-size: 50px;
    }
    .product-nav a {
        font-size: 25px;
    }

    .all-cards {
        display: -webkit-inline-box;
        flex-direction: column;
        align-content: center;
    }
    .card {
        width: 400px;
        height: 600px;
        margin-bottom: 5rem;
    }
    .img-2 {
        width: 100%;
        height: 65%;
        object-fit: cover;
    }
    .discription h3 {
        font-size: 30px;
        height: 20px;
    }
}
/*350px*/
@media  screen and (max-width:350px){
    /* #intro {
        flex-direction: column;
    }
    .vid-text {
        width: 100%;
    } */
    /* .vid-text h1 {
        font-size: 56px;
    }
    .vid-text p {
        font-size: 25px;
    } */
    /* .member-btn {
        width: 460px;
        font-size: 45px;
        margin: 10px 10px 10px 240px;
    } */
    /* .vid {
        width: 80%;
        margin-top: 4rem;
    } */
    .all-cards {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    /* .card {
        width: 400px;
        height: 600px;
        margin-bottom: 5rem;
    } */
    /* .img-2 {
        width: 100%;
        height: 65%;
        object-fit: cover;
    }
    .discription h3 {
        font-size: 30px;
        height: 20px;
    } */
}