body{
    margin: 0;
    background-color: #f6f6f2;
}


 /**************** for dark mode *******************/
 .dark-body {
    margin: 0;
    background-color: #0e0e04;
    color: #a9a9a9;
}



 /**************** Header: Logo and Nav *******************/
 header{
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    /*box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.178);*/
    height: 50px;
}
 .main-nav{
    transition-duration:0.3s;
    padding: 10px;
    display: flex;
    column-gap: 25px;
}
.main-nav a{
    font-family: monospace;
    text-decoration: none;
    padding: 4px 10px;
    font-size: 20px;
    transition-duration:0.3s;
}
.main-nav a:hover{
    color: #7f0000;
}
header svg :hover{
    cursor: pointer;
}
#moon-icon{
    display: none;
}

.a-home{
    color:#141204 ;
}
.a-shop{
    color: #E8985E;
    border: solid #E8985E 2px;
}
.a-signup{
    background-color: #262A10;
    color: #ffffff;
}



 /**************** Main Content section *******************/


 /************************ Work With Us  ************************/
.imageContainer{
    width: 100%;
    height: 300px;
    display: inline-block;
    position: relative;
}

.imageContainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.textContainer{
    width: 40%;
    height: 150px;
    object-fit: cover;
    position: absolute;
    top: 25%;
    left: 30%;
    text-align: center;
}
.textContainer h1{
    color: #f6f6f2;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.textContainer p{
    color: #f6f6f2;
    font-size: medium;
    text-align: center;
    padding: 0px 21px 0px 21px;
}


/************************ Story Section ************************/

.storyContainer{
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
}
.innerStoryContainer{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    align-items: center;
}
.storyText{
    width: 50%;
    height: 18rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.storyText p{
    padding-right: 2rem;
}
.storyPics{
    width: 50%;
    height: 18rem;
    position: relative;
}
.storyImage1{
    height: 50%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 13rem;
    top: 2rem;
    z-index: 3;
    box-shadow: -2px 4px 20px 0px black;
}
.storyImage2{
    height: 40%;
    width: 40%;
    object-fit: cover;
    position: absolute;
    left: 3rem;
    top: 7rem;
    z-index: 1;
    box-shadow: -2px 4px 20px 0px black;
}
.storyImage3{
    height: 30%;
    width: 30%;
    object-fit: cover;
    position: absolute;
    top: 12rem;
    left: 14rem;
    z-index: 2;
    box-shadow: -2px 4px 20px 0px black;
}


/************************ WHY Section ************************/

.whyContainer{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #e5e4e4;
    border: solid red;
}
.inner-whyContainer{
    height: 500px;
    max-width: 1000px;
    /* background-color: #e5e4e4; */
    border: solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whyText{
    border: solid turquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.whyText p{
    text-align: center;
    margin: 0rem 10rem 0rem 10rem;
}
.sliderCard{
    border: solid purple;
    height: 15rem;
    width: 30rem;
    border-radius: 20px;
    /* box-shadow: 0px 5px 20px 1px #00000063; */
    position: relative;
}
.whyPic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    
}
.sliderWrap{
    display: flex;
    margin-top: 2rem;
    width: 1000px;
    justify-content: space-between;
}
.leftBtn{
    position: absolute;
    top: 7rem;
    right: 32rem;
}
.rightBtn{
    position: absolute;
    top: 7rem;
    left: 32rem;
}
.miniPic-left{
    border: solid purple;
    height: 15rem;
    width: 7.5rem;
    border-radius: 20px 0px 0px 20px;
    position: relative;
}
.LeftwhyPic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    /*opacity: 40%;*/
}
.miniPic-right{
    border: solid purple;
    height: 15rem;
    width: 7.5rem;
    border-radius: 0px 20px 20px 0px;
    position: relative;
}
.RightwhyPic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    /*opacity: 40%;*/
}






















































/****************** Footer *******************/
footer{
    background-color: #141204;
    color: #f6f6f2;
    padding: 5rem;
    margin-top: 2rem;
}
.footer-container{
    max-width:1100px;
    margin: 0 auto;
}
.footer-main{
    display: flex;
    align-items: center;
}
.foot-img{
    width: 70%;
}
.col-1{
    width: 30%;
    display: flex;
    justify-content: center;
}
.col-2{
    width: 35%;
}
.col-2 a{
    text-decoration: none;
    padding-left: 1rem;
    color:#A9714B;
    transition-duration: 0.3s;
}
.col-2 a:hover{
    color: #ffffff;
}
.col-2 p{
    text-decoration: none;
    padding-left: 1rem;
    color:#A9714B;
}
.col-3{
    width: 35%;
    display: flex;
    justify-content: end;
}
.col-3 img{
    padding-right: 3rem;
}